#gabick-copyright {
	padding: .9375em 0;
	background-color: $footer-gabick-backgorund-color;

	#footer-copyright {
		width: 100%;
		color: $footer-gabick-text-color;
		text-align: center;

		.adjective {
			position: relative;
			top: .1em;
			margin: 0 .2em;
			color: $footer-gabick-primary-color;
			font-size: $footer-adjective-font-size;
		}

		a {
			color: $footer-gabick-secondary-color;
			font-weight: $footer-gabick-font-weight;

			&::before {
				@include gabick-background-image();
				content: '';
				position: relative;
				top: .4em;
				display: inline-block;
				width: 1.8em;
				height: 1.5625em;
				margin: 0 .3em 0 .2em;
				background-size: contain;
			}

			&:hover {
				color: $footer-gabick-primary-color;
				transition: .2s;
			}
		}
	}
}
