/* stylelint-disable selector-id-pattern */
#footer-bottom {
	display: none;

	#footer-info {
		width: 100%;
		text-align: center;

		.adjective {
			position: relative;
			top: .1em;
			margin: 0 .2em;
			color: $footer-gabick-primary-color;
			font-size: $footer-adjective-font-size;
		}

		a {
			color: $footer-gabick-secondary-color;

			&::before {
				@include gabick-background-image();
				content: '';
				position: relative;
				top: .4em;
				display: inline-block;
				width: 1.875em;
				height: 1.5625em;
				margin: 0 .3em 0 .2em;
				background-size: contain;
			}

			&:hover {
				color: $footer-gabick-primary-color;
			}
		}
	}
}
